
// Converted Variables

$black: #000 !default;
$near-black: #111 !default;
$dark-gray:#333 !default;
$mid-gray:#555 !default;
$gray: #777 !default;
$silver: #999 !default;
$light-silver: #aaa !default;
$moon-gray: #ccc !default;
$light-gray: #eee !default;
$near-white: #f4f4f4 !default;
$white: #fff !default;

$transparent: transparent !default;

$black-90: rgba(#000, .9) !default;
$black-80: rgba(#000, .8) !default;
$black-70: rgba(#000, .7) !default;
$black-60: rgba(#000, .6) !default;
$black-50: rgba(#000, .5) !default;
$black-40: rgba(#000, .4) !default;
$black-30: rgba(#000, .3) !default;
$black-20: rgba(#000, .2) !default;
$black-10: rgba(#000, .1) !default;
$black-05: rgba(#000, .05) !default;
$black-025: rgba(#000, .025) !default;
$black-0125: rgba(#000, .0125) !default;

$white-90: rgba(#fff, .9) !default;
$white-80: rgba(#fff, .8) !default;
$white-70: rgba(#fff, .7) !default;
$white-60: rgba(#fff, .6) !default;
$white-50: rgba(#fff, .5) !default;
$white-40: rgba(#fff, .4) !default;
$white-30: rgba(#fff, .3) !default;
$white-20: rgba(#fff, .2) !default;
$white-10: rgba(#fff, .1) !default;
$white-05: rgba(#fff, .05) !default;
$white-025: rgba(#fff, .025) !default;
$white-0125: rgba(#fff, .0125) !default;

$dark-red:  #e7040f !default;
$red:  #ff4136 !default;
$light-red:  #ff725c !default;
$orange:  #ff6300 !default;
$gold:  #ffb700 !default;
$yellow:  #ffd700 !default;
$light-yellow:  #fbf1a9 !default;
$purple:  #5e2ca5 !default;
$light-purple:  #a463f2 !default;
$dark-pink:  #d5008f !default;
$hot-pink: #ff41b4 !default;
$pink:  #ff80cc !default;
$light-pink:  #ffa3d7 !default;
$dark-green:  #137752 !default;
$green:  #19a974 !default;
$light-green:  #9eebcf !default;
$navy:  #001b44 !default;
$dark-blue:  #00449e !default;
$blue:  #357edd !default;
$light-blue:  #96ccff !default;
$lightest-blue:  #cdecff !default;
$washed-blue:  #f6fffe !default;
$washed-green:  #e8fdf5 !default;
$washed-yellow:  #fffceb !default;
$washed-red:  #ffdfdf !default;


$green: #21a179;
$red: #d64242;
$blue: #4BA8FF;

$near-black: #222C3C;
$dark-gray: #2A3547;
$mid-gray: #5B6779;
$gray: #7F8FA4;
$silver: #B7C0CD;
$light-gray: #E6EAEE;

// Custom Media Query Variables


/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors

*/
