
// Converted Variables


// Custom Media Query Variables


/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Equivalent to .overflow-y-scroll */
.overflow-container {
  overflow-y: scroll;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.pe-n {
  pointer-events: none;
}

.pe-auto {
  pointer-events: auto;
}

.nudge-down--1 {
  top: 1px;
}
.nudge-down--2 {
  top: 2px;
}
.nudge-down--3 {
  top: 3px;
}
.nudge-down--4 {
  top: 4px;
}

.nudge-up--1 {
  bottom: 1px;
}
.nudge-up--2 {
  bottom: 2px;
}
.nudge-up--3 {
  bottom: 3px;
}
.nudge-up--4 {
  bottom: 4px;
}

.nudge-left--1 {
  right: 1px;
}
.nudge-left--2 {
  right: 2px;
}
.nudge-left--3 {
  right: 3px;
}
.nudge-left--4 {
  right: 4px;
}

.nudge-right--1 {
  left: 1px;
}
.nudge-right--2 {
  left: 2px;
}
.nudge-right--3 {
  left: 3px;
}
.nudge-right--4 {
  left: 4px;
}

@media #{$breakpoint-not-small}{
  .center-ns {
    margin-right: auto;
    margin-left: auto;
  }
}

@media #{$breakpoint-medium}{
  .center-m {
    margin-right: auto;
    margin-left: auto;
  }
}

@media #{$breakpoint-large}{
  .center-l {
    margin-right: auto;
    margin-left: auto;
  }
}
